.navigation{
    &__checkbox{
        display:none;
    }

    &__button{
        width:7rem;
        height:7rem;
        border-radius: 50%;
        position: fixed;
        top:4rem;
        right:4rem;
        background-color:$medium-grey;
        z-index:2000;
        text-align: center;
        cursor: pointer;

        @include response(tab-port){
            top:3rem;
            right:3rem;
        }
        @include response(phone){
            width:5rem;
            height:5rem;
            top:2rem;
            right:2rem;
        }
    }

    &__background{
        width:6rem;
        height:6rem;
        border-radius:50%;
        // border: 1px solid $dark-red;
        position: fixed;
        top:4.5rem;
        right:4.5rem;
        background-image:radial-gradient($light-grey, $dark-red);
        z-index:1000;
        transition:transform .8s cubic-bezier(0.645, 0.045, 0.355, 1);

        @include response(tab-port){
            top:3.5rem;
            right:3.5rem;
        }
        @include response(phone){
            width:4rem;
            height:4rem;
            top:2.5rem;
            right:2.5rem;
        }
    }

    &__nav{
        height:100vh;
        width:100%;
        position: fixed;
        top:0;
        right:0;
        z-index:1500;
        opacity:0;
        width:0;
        background-image:radial-gradient($light-grey, $dark-red);
        transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list{
        display: inline-block;
        text-align:center;
        list-style: none;
        width:100%;
        @include central;
    }

    &__item{
        margin:1rem; 
    }

    &__link{
        &:link,
        &:visited{
            display: inline-block;
            padding: 1rem 2rem;
            text-decoration:none;
            font-size: 3rem;
            font-weight:300;
            color: $dark-red;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white-color 50%);
            background-size: 230%;
            transition: all .4s;
        }

        &:hover,
        &:active{
            background-position: 100%;
            transform:translateX(1rem);
        }
        &>span{
            margin-right:1.5rem;
        }
    }

    &__checkbox:checked ~ &__background{
        transform: scale(70);
        
    }
    &__checkbox:checked ~ &__nav{
        opacity:1;
        width:100%;
    }

    &__icon{
        position: relative;
        margin-top:3.5rem;

        @include response(phone){
            margin-top:2.5rem;

        }

        &,
        &::before,
        &:after{
            width:3rem;
            height:2px;
            background-color: $dark-red;
            display:inline-block;
            transition: all .2s;

            @include response(phone){
                width:2rem;
                height:1px;
            }
        }

        &::before,
        &::after{
            content:"";
            position: absolute;
            left:0;
        }

        &::before{top:-0.8rem;}
        &::after{top:0.8rem;}
    }
    &__button:hover &__icon::before{
        top:-1rem;
    }
    &__button:hover &__icon::after{
        top:1rem;
    }

    &__checkbox:checked + &__button &__icon{
        background-color: transparent;

        &::before{
            top:0;
            transform: rotate(-135deg);
        }
        &::after{
            top:0;
            transform: rotate(135deg);
        }
    }
}