.section-about{
    padding:10rem 0 20rem 0;
    // margin:2rem;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($light-red, 0.8),
        rgba($dark-red, 0.8)),
        url("src/assets/img/pic1.jpg");
    background-size: cover;
    // margin-top:-10rem;
    transform: skewY(-7deg);

    & >*{
        transform: skewY(7deg);
    }
}

.section-stories{
    padding: 20rem 0;
    padding-top:-40rem;
    position: relative;
    margin-top:-10rem;
}

.section-booking{
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
        rgba($light-red, 0.8),
        rgba($dark-red, 0.8));
}