.btn{
    &,
    &:link,
    &:visited{
        position: relative;
        display:inline-block;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: all .2s;
        transition: all .2s;
        font-size: $default-font-size;
        padding:1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;

        //Change for the <button> element
        border:none;
        cursor: pointer;  
    }
   
    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($black-color, .2);

        &::after{
            -webkit-transform: scaleX(1.4), scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
            opacity:0;
        }
    }

    &:active, 
    &:focus{
        outline: none;
        transform:translateX(-1px);
        box-shadow: 0 .5rem 1rem rgba($black-color, .2);
    }

    &--red{
        background-color:$dark-red;
        color:$white-color;

        &::after{
            background-color:$dark-red;
        }
    }

    &--white{
        background-color:$white-color;

        &-1{
            color:$color-secondary-dark;
        }
        &-2{
            color:$color-blue-dark;
        }
        &-3{
            color:$color-green-dark;
        }
        &::after{
            background-color:$white-color;
        }
    }

    &::after{
        content: "";
        display:inline-block;
        height: 100%;
        width:100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left:0;
        z-index: -1;
        -webkit-transition: all .4s;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
}
.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $dark-red;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $dark-red;
        padding: 3px;
        transition: all .2s;

    &:hover{
        background-color: $dark-red;
        color:$white-color;
        box-shadow: 0 1rem 2rem rgba($black-color, .15);
        transform: translateY(-2px);
    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($black-color, .15);
        transform: translateY(0);
    }
    }
}