<footer class="footer">
  <div class="footer__logobox">
      <img src="assets/img/logo-new.png" alt="" class="footer__logo">
  </div>
  <div class="rows">
      <div class="col-1-of-2">
        <ul class="footer__navigation">
          <li class="footer__list"><a href="#" class="footer__link">company </a></li>
          <li class="footer__list"><a href="#" class="footer__link">Contact us</a></li>
          <li class="footer__list"><a href="#" class="footer__link">Careers</a></li>
          <li class="footer__list"><a href="#" class="footer__link">privacy policy</a></li>
          <li class="footer__list"><a href="#" class="footer__link">terms</a></li>
        </ul>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          Built by <a href="" class="footer__link">Anna Shestakova</a>. Copyright &copy; by Anna Shestakova. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum provident esse, dolores nulla debitis maxime, porro amet qui quis quae pariatur id expedita ducimus saepe rem minima in molestias sint? 
        </p>
      </div>
  </div>
</footer>
