@import "abstracts/variables";
@import "abstracts/mixins";

.header{
    height:100vh;
    position:relative;
    background-image: linear-gradient(to right bottom,
    rgba($light-grey, 0.8),
    rgba($dark-red, 0.8)),
    url('src/assets/img/header-pic-small2.jpg');
    background-size: cover;
    overflow: hidden;

    // background-position: top;

    @media screen and (min-resolution:192dpi) and (min-width:37.5em),
    screen and (-webkit-min-device-pixel-ratio:2) and (min-width:37.5em),
    screen and(min-width:125em){
        background-image: linear-gradient(to right bottom,
        rgba($light-grey, 0.8),
        rgba($dark-red, 0.8)),
        url('src/assets/img/header-pic.jpg');
    }

    @include response(tab-port){
        height:85vh;
    }

    @include response(phone){
        height:45vh;
    }

    &__container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 2rem auto;
    }

    // &__logobox{
    //     position:absolute;
    //     top:4rem;
    //     left:4rem;

    //     @include response(phone){
    //         top:2rem;
    //         left:2rem;
    //     }
    // }

    &__logo{
        height:7rem;

        @include response(tab-port){
            height:6rem;
        }
        @include response(phone){
            height:5rem;
        }
    }

    &__textbox{
        @include central;
        text-align: center;
    }
}