//COLORS
$grey-color:#666666;
$light-grey: #e7e0e0;
$light-grey-1: #f7f7f7;
$dark-grey:#383535;
$dark-grey2: #999;
$black-color:#000000;
$yellow-grey: #dfb864;
$light-red: #e77f7f;
$dark-red: #800a0a;
$green-color: green;
$white-color: #ffffff;


//GRID
// $wrap-width:130rem;
$row-width: 114rem;
$vertical-gutter: 8rem;
$horizontal-gutter: 6rem;

//FONT-SIZE TEXT
$default-font-size:1.6rem;;
