@import 'abstracts/variables';

.composition{
    position: relative;

    &__photo{
    position: absolute;
    width: 30rem;
    border-radius: 2px;
    outline-offset: 1rem;
    box-shadow: 0 1.5rem 4rem rgba($grey-color, .4);
    transition: all .2s;
    z-index: 10; 
   
    &--1{
     top:6rem;
     left:22rem;  
     
    }
    &--2{
        top:2rem;
        left:-1rem;   
       }
    &--3{
        top:15rem;
        left:10rem;   
        }
    &:hover{
        z-index: 20;
        box-shadow: 0 2.5rem 4rem rgba($grey-color, .5);
        transform: scale(1.05);
        outline: 0.5rem solid $yellow-grey;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.9);
    }
}
