<body>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="toggle-nav">
    <label for="toggle-nav" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
    </label>
    <div class="navigation__background">&nbsp;</div>
    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="#" class="navigation__link"><span>01</span>Main</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>02</span>Contacts</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>03</span>tours</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>04</span>tickets</a></li>
            <li class="navigation__item"><a href="#" class="navigation__link"><span>05</span>festivals</a></li>
          </ul>
    </nav>
  </div>
  <main>
      <section class="section-about">
          <div class="u-center-text u-margin-bottom-medium ">
              <h2 class="secondary-heading">The world around us!</h2>
          </div>
          <div class="rows">
            <div class="col-1-of-2">
              <h3 class="tertiary-heading">Lorem ipsum dolor sit amet consectetur adipisicing elitae praesentium?</h3>
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint accusamus et velit aliquid aspernatur est
                eaque, architecto quae ad, sequi, fugiat culpa eos? Fugit in, quidem eaque quaerat eos ipsum.</p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione repellat quisquam provident corrupti,
                aliquid excepturi tempora ea mollitia quos. Necessitatibus ut eligendi voluptate. Impedit ducimus obcaecati,
                porro consequatur quasi aut!</p>
              <h3 class="tertiary-heading">Lorem ipsum dolor, tur quae quia voluptates?.</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio vitae atque accusantium adipisci. Molestiae
                blanditiis necessitatibus aliquam maiores nobis, nesciunt vel impedit soluta quis quam accusantium illo at
                perferendis nihil?</p>
      
            </div>
            <div class="col-1-of-2">
              <div class="composition">
                <img class="composition__photo composition__photo--1" src="assets/img/pic1.jpg" alt="img1">
                <img class="composition__photo composition__photo--2" src="assets/img/pic2.jpg" alt="img2">
                <img class="composition__photo composition__photo--3" src="assets/img/pic3.jpg" alt="img3">
              </div>
            </div>
          </div>
        </section>

        <section class="section-features">
            <div class="rows">
              <div class="col-1-of-4">
                <div class="feature-box">
                  <i class="feature-box__icon icon-basic-world"></i>
                  <h3 class="tertiary-heading u-margin-bottom-small">Explore the world</h3>
                  <p class="feature-box__text">Lorem ipsum dolor sit amet. Dolorum molestias nemo nostrum, error fugiat voluptates.</p>
                </div>
              </div>
              <div class="col-1-of-4">
                  <div class="feature-box">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <h3 class="tertiary-heading u-margin-bottom-small">Meet nature</h3>
                    <p class="feature-box__text">Lorem ipsum dolor sit amet. Dolorum molestias nemo nostrum, error fugiat voluptates.</p>
                  </div>
                </div>
                <div class="col-1-of-4">
                    <div class="feature-box">
                      <i class="feature-box__icon icon-basic-map"></i>
                      <h3 class="tertiary-heading u-margin-bottom-small">Find your way</h3>
                      <p class="feature-box__text">Lorem ipsum dolor sit amet. Dolorum molestias nemo nostrum, error fugiat voluptates.</p>
                    </div>
                  </div>
                  <div class="col-1-of-4">
                      <div class="feature-box">
                        <i class="feature-box__icon icon-basic-heart"></i>
                        <h3 class="tertiary-heading u-margin-bottom-small">Live healthier life</h3>
                        <p class="feature-box__text">Lorem ipsum dolor sit amet. Dolorum molestias nemo nostrum, error fugiat voluptates.</p>
                      </div>
                    </div>
            </div>
        </section>

        <section class="section-stories">
          <app-story></app-story>
        </section>

        <section class="section-booking">
          <app-booking></app-booking>
        </section>
  </main>
  <app-footer></app-footer>
  <app-popup></app-popup>
  
</body>