<div class="u-center-text u-margin-bottom-small u-margin-top-big ">
  <h2 class="secondary-heading">We make people happy!</h2>
</div>
  <div class="rows">
    <div class="bg-video">
        <video class="bg-video__content" autoplay loop>
            <source src="assets/img/video.mp4" type = "video/mp4">
        </video>
    </div>

    <div class="story">
      <figure class="story__shape">
          <img src="assets/img/pic4.jpg" alt="" class="story__img">
          <figcaption class="story__caption">Mary Smith</figcaption>
      </figure>
      <div class="story__text">
        <h3 class="tertiary-heading">
          Lorem ipsum dolor sit amet consect
        </h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quod porro officiis? Consectetur et 
            eius quod nulla quae quis eum tempora! Sint ad dicta, in velit explicabo laudantium fugiat eius.
        </p>
      </div>     
    </div>
    
    <div class="story">
        <figure class="story__shape">
            <img src="assets/img/pic4.jpg" alt="" class="story__img">
            <figcaption class="story__caption">Mary Smith</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="tertiary-heading">
            Lorem ipsum dolor sit amet consect
          </h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum quod porro officiis? Consectetur et 
              eius quod nulla quae quis eum tempora! Sint ad dicta, in velit explicabo laudantium fugiat eius.
          </p>
        </div>     
      </div>
  </div>

