@import 'abstracts/variables';

.booking{
    background-image: linear-gradient(105deg,
        rgba($light-grey, 0.8) 0%,
        rgba($light-grey, 0.8) 50%,
        transparent 50%),
    url("src/assets/img/pic1.jpg");
    background-size: cover;
    height:50rem;

    &__form{
        width:50%;
        padding:4rem;
    }
}
