*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}


body{
    font-family: Lato, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
}
// .wrap-container{
//     width:120rem;
//     margin: 0 auto;
// }